SERVER_PORT=1111
DOCKER_PORT=1111


# Database Config
DB_HOST=localhost
DB_PORT=1
DB_NAME=banka
DB_USER=postgres
DB_PASSWORD=postgres

# Security
JWT_SECRET=OvoJeNekaDugackaTajnaSifraZaJwtKojuNeStavljamoUProperties


#Rabbitmq
RABBITMQ_HOST=localhost
RABBITMQ_PORT=1
RABBITMQ_USERNAME=rabbit
RABBITMQ_PASSWORD=rabbit
